img {
  width: 100%;
  height: auto;
}

.jumbotron {
  background-image: url("../images/African\ American\ Styles.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.photos {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
  width: 25%;
}

footer {
  background-color: black;
  color: white;
}


@media (max-width: 450px) {
  .photos {
      flex-wrap: wrap;
  }

  .img-wrapper {
      width: 80%;
      margin: 15px auto;
  }
}
  
  
  
  
  
  
  
